.loginBtn {
    -fx-background-color:  radial-gradient(center 50% 50%, radius 100%, #7076ba, #444484);
    -fx-text-fill: #d3d3ed;
    -fx-background-radius: 10px;
}
.loginBtn:hover {
    -fx-background-color: #d3d3ed;
    -fx-background-radius: 10px;
    -fx-text-fill: #444484;
    -fx-border-color: #444484;
    -fx-border-width: 2px;
    -fx-border-radius: 10px;
    -fx-border-style: solid;
}
.loginBtn:pressed {
    -fx-background-color: #7076ba;
    -fx-background-radius: 10px;
    -fx-text-fill: #444484;
    -fx-border-color: #444484;
    -fx-border-width: 2px;
    -fx-border-radius: 10px;
    -fx-border-style: solid;
    -fx-rotate: 0.5
}

.exitButton {
    -fx-background-color: #d3d3ed;
    -fx-graphic: url('../images/exit_button.png');
}
.exitButton:hover {
    -fx-background-color: #d3d3ed;
    -fx-graphic: url('../images/hovered_exit_button.png');
}
