.table-view, .tree-table-view {
    -fx-table-header-border-color: transparent;
    -fx-table-cell-border-color: grey; /* Horizontal Lines*/
    -fx-background-color: transparent;
}

/* The column header row is made up of a number of column-header, one for each
   TableColumn, and a 'filler' area that extends from the right-most column
   to the edge of the tableview, or up to the 'column control' button. */
.table-view .filler, .tree-table-view .filler, .table-view .column-header,
.tree-table-view .column-header {
    -fx-border-style: null;
    -fx-border-width: 1;
    -fx-border-color: transparent;
    -fx-background-color: transparent;
}

.table-view .show-hide-columns-button, .tree-table-view .show-hide-columns-button
{
    -fx-background-color: transparent;
    -fx-border-width: 0;
}

.table-view .column-header .label, .table-view .filler .label, .table-column,
.table-view .column-drag-header .label, .tree-table-view .column-header .label,
.tree-table-view .filler .label, .tree-table-view .column-drag-header .label
{
    -fx-alignment: CENTER;
    -fx-background-color: transparent;
}

.table-view .column-header-background, .tree-table-view .column-header-background {
    -fx-max-height: 0;
    -fx-pref-height: 0;
    -fx-min-height: 0;
    -fx-background-color: transparent;
}

/* The increment and decrement button CSS class of scrollbar */
.table-view .increment-button ,.table-view .decrement-button {
    -fx-background-color:transparent;
	-fx-background-radius: 2em;
}

/* The main scrollbar **track** CSS class  */
.table-view .scroll-bar:horizontal .track,
.table-view .scroll-bar:vertical .track{
	-fx-background-color: transparent;
	-fx-border-color:derive( #444484,80%);

	-fx-background-radius: 2em;
	-fx-border-radius:2em;
}

/* The main scrollbar **thumb** CSS class which we drag every time (movable) */
.table-view .scroll-bar:horizontal .thumb,
.table-view .scroll-bar:vertical .thumb {
    -fx-background-color:derive( #444484,90%);
	-fx-background-insets: 1, 1, 1;
	-fx-background-radius: 2em;
}

.table-row-cell, .tree-table-row-cell {
    -fx-cell-size: 28px;
    -fx-background-color: transparent;
}

.table-row-cell:odd:filled {
    -fx-border-width: 0 0 0 0;
    -fx-border-color: transparent;
}

.table-row-cell:even:filled {
    -fx-border-width: 0;
    -fx-border-color: transparent;
}

.table-row-cell:empty {
    -fx-border-style: none;
    -fx-background-color: transparent;
}

.table-row-cell:odd:empty {
    -fx-border-style: none;
    -fx-background-color: transparent;
}

.table-row-cell:even:empty {
    -fx-border-style: none;
    -fx-background-color: transparent;
}

.table-cell {
    -fx-border-color: transparent; /* Vertical Lines*/
    -fx-border-width: 0;
}