.loginTextField {
    -fx-background-color: transparent;
    -fx-border-color: #7076ba;
    -fx-border-width: 0px 0px 2px 0px;
}

.dialogTextField, .dialogComboBox, .dialogTextArea {
    -fx-background-color: transparent;
    -fx-border-radius: 5px;
    -fx-border-color: #7076ba;
    -fx-border-width: 1px 1px 1px 1px;
}
.dialogTextField:focused, .dialogComboBox:focused, .dialogTextArea:focused {
    -fx-border-color: #444484;
    -fx-border-width: 2px 2px 2px 2px;
}

.dialogComboBox:showing, .dialogComboBox .list-view {
    -fx-background-color: #c5c5f6;
    -fx-border-color: #444484;
    -fx-border-radius: 3px;
    -fx-border-width: 1px 1px 1px 1px;
}

.dialogTextArea .content {
    -fx-background-color: transparent;
}